.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.bingo {
  display: grid;
  grid-template-columns: auto auto auto;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.bingo__cell {
  width: 300px;
  height: 100px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  position: relative;
}

.cross {
  position: absolute;
  left: 0px;
  top: 0px;
}
.cross:before, .cross:after {
  position: absolute;
  left: 150px;
  top: -108px;
  content: ' ';
  height: 316px;
  width: 2px;
  background-color: red;
}
.cross:before {
  transform: rotate(72deg);
}
.cross:after {
  transform: rotate(-72deg);
}

