.victory-modal-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.15);
}

.victory-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background: #fff;
    padding: 0;
}

.victory-modal__secret-link {
    text-decoration: none;
}

.victory-modal__close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.8;
    cursor: pointer;
}
.victory-modal__close:hover {
    opacity: .9;
}
.victory-modal__close:before, .victory-modal__close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.victory-modal__close:before {
    transform: rotate(45deg);
}
.victory-modal__close:after {
    transform: rotate(-45deg);
}